# {{ project['name'] }}

{{ project['description']['short'] | default('') }}

{% if project['description']['long'] is defined %}
{{ project['description']['long'] }}
{% endif %}

# License

{{ project['license' ]}}

{% if 'authors' in project -%}
# Authors
{% for author in project['authors'] %}
{{ author['name'] | default(author) }}{% if author['email'] is defined and author['email'] != '' %}{{ ', ' + author['email'] }}{% endif %}

{% endfor %}
{% endif %}
