# {{ project['name'] }}

{{ project['description']['short'] | default('') }}
{% if 'description' in project and 'long' in project['description'] %}

{{ project['description']['long'] }}
{% endif %}

## License

{{ project['license'] | mandatory }}

## Authors

{{ project['owner'] | mandatory }}
