# {{ ansible_managed }}

find_program(CCACHE_EXECUTABLE "ccache")

if(CCACHE_EXECUTABLE)
    message(STATUS "Found ccache: enabling fast compiler cache")
    set(CMAKE_C_COMPILER_LAUNCHER "${CCACHE_EXECUTABLE}")
    set(CMAKE_CXX_COMPILER_LAUNCHER "${CCACHE_EXECUTABLE}")
    set(CMAKE_CUDA_COMPILER_LAUNCHER "${CCACHE_EXECUTABLE}")
endif()

mark_as_advanced(CCACHE_EXECUTABLE)
